@tailwind base;
@tailwind components;
@tailwind utilities;

*, :before, :after {
    box-sizing: border-box;
}
#app {
    font-size: 18px;
    line-height: 1.4;
    background-color: #202124;
}
.container {
    max-width: 1520px;
    padding: 0 50px;
    margin: auto;
}
.pf-section {
    padding: 150px 0;
    background-color: #202124;
}  